machine:
  network:
    hostname: ${hostname}
    interfaces:
      - interface: eth0
        dhcp: true
        addresses:
          - ${ip_cidr}
        routes:
          - network: 0.0.0.0/0
            gateway: ${gateway}
            metric: 1024
  nodeLabels:
%{ if proxmox_cluster != "" ~}
    topology.kubernetes.io/region: ${proxmox_cluster}
    topology.kubernetes.io/zone: ${proxmox_host_node}
%{ endif ~}
    node.kubernetes.io/instance-type: worker