apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jellyfin-media-nfs
  namespace: jellyfin
spec:
  accessModes: ["ReadWriteMany"]
  storageClassName: nfs-truenas-media
  resources:
    requests:
      storage: 500Gi
