apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-cm
  namespace: argocd
data:
  url: https://argocd.chriswagner.dev
  # Allow application status updates without full sync
  application.instanceLabelKey: argocd.argoproj.io/instance
