name: Connect to Home Lab VPN
on:
  push:
    branches:
      - main

steps:
  - name: Checkout
    uses: actions/checkout@v3
  - name: Install OpenVPN
    run: |
      sudo apt update
      sudo apt install -y openvpn openvpn-systemd-resolved
  - name: Connect to VPN
    uses: "kota65535/github-openvpn-connect-action@v2"
    with:
      config_file: .github/workflows/client.ovpn
      client_key: ${{ secrets.CLIENT_OVPN_KEY }}
  # The openvpn process is automatically terminated in post-action phase
